@font-face {
  font-family: 'ABeatByKaiRegular';
  src: local('ABeatByKaiRegular'), url(./fonts/ABeatByKai/ABEAKRG.TTF) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'), url(./fonts/GILROY/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./fonts/GILROY/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./fonts/GILROY/Gilroy-Medium.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  -webkit-tap-highlight-color: transparent;
}